/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #213042; /* Dark blue */
    --secondary-color: #68C0D0; /* Bright blue */ 
    --pale-color-white: white; /* White */ 
    --pale-color-grey: #E8E9EB; /* Grey */ 
    --pale-color-blue: #e7f6ff; /* Pale blue */    
    --highlight-color:; /*  */
    --highlight-color-light: ; /*  */
}

/* Heading Font */
h1 h2 h3 {color: var(--primary-font);}
h1, h2{font-size: 60px;
       font-family: "Shippori Antique B1", sans-serif;
       font-weight: 400;
       font-style: normal;
}
  h3 { font-family: "Inter", sans-serif;
       font-weight: 350;
       font-style: normal;}

.contact-section a {font-size: 15px !important;    
                    font-family: "Shippori Antique B1", sans-serif !important;
                    font-weight: 400 !important;
                    font-style: normal !important;
}

a {    font-size: 20px !important;    
       font-family: "Shippori Antique B1", sans-serif !important;
       font-weight: 400 !important;
       font-style: normal !important;
}

h4 {   font-family: "Shippori Antique B1", sans-serif;
       font-weight: 400;
       font-style: normal}

h5 {   font-family: "Inter", sans-serif;
       font-weight: 600;
       font-style:normal;}

h6 {   margin-top: 6px;
       font-family: "Inter", sans-serif;
       font-weight: 500;
       font-style: normal;}

p {   font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 350;
      font-style: normal;}

button{   font-size: 15px; 
      font-family: "Inter", sans-serif;
      font-weight: 250;
      font-style: normal;}

/* Video Hero */
/* full screen */
.video-hero {
  position: relative;
  width: 100%;
  height: 94vh;          
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit:cover ;}

.text-overlay {
    position: absolute;
    bottom: 15%;        
    color: var(--pale-color-white);   
    padding: 0px 20px;
}

.scroll-indicator{
    display: flex;
    position: absolute;
    bottom: 10%;
    color: var(--pale-color-white);
    padding-left: 50%;
    max-width: 80px;
    max-height: 80px;
}

.scroll-indicator-text{
    position: absolute;
    bottom: 5%;
    color: var(--pale-color-white);
    text-align: center;}
  
/* Nav-Modal */
.modal-header {
  border-bottom: none;          
  padding-bottom: 0;
}

.modal-header .btn-close {
  margin-top: 20px;            
}

/* Nav-Modal lists */
.modal-body ul {
  list-style: none;      /* remove bullets */
  padding-left: 0;       /* remove left indent */
  margin: 0;
}

/* Space between menu items */
.modal-body li {
  padding-bottom: 40px;
}

/* Main context */
.card-spacing {
  padding-top:10px;
  padding-bottom: 10px;}

div .card {
    border-style: none;
    border-radius: 0;
}

.card-body{
    padding: 0 5px;
}

/* Load more button */
button {
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    max-width: 100px;
}

/* About Us */
/* Header */
.about-section {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.about-section h3 {
    word-spacing: 9px;
    line-height: 35px;
}

.focus-section {
    background-color:var(--pale-color-blue) ;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    
}

.focus-section h3 {
    word-spacing: 9px;
    line-height: 35px;
}

.team { margin-top: 15px;
    margin-bottom: 30px;

}

/* interactive card hover element */
.card-transform {transition: transform 0.35s ease, box-shadow 0.35s ease;
  will-change: transform;}

.card-transform:hover {transform: scale( 1.02);
/*box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12); (showdow when zoomed in) */
}

/* interactive text hover element */
.text-transform {transition: transform 0.35s ease, box-shadow 0.35s ease;
  will-change: transform;}

.text-transform:hover {transform: scale( 1.10);
/*box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12); (showdow when zoomed in) */
}


.card-img-top.image-frame { 
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
    display:block
    }

/* social media footer hr */
footer {margin-top: 100px;}

/* footer list */
ul {
  list-style: none;      /* remove bullets */
  padding-left: 0;       /* remove left indent */
  margin: 0;
}

/* Space between menu items */
li {
  padding-bottom: 10px;
}

.map-contact li {
padding-bottom: 0;
}

.text-small
{font-size: 10px; !important}

/* social media footer hr */
.socialmedia-footer-hr {
    margin-left: -15px;
    width: 100vw;}


/* grid visualisation CSS for testing */
/*  .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} 
*/

/* Media queries */
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .logo {width:"150px"}
    .about-section {
    margin-top: 100px !important;
    margin-bottom: 150px !important;}
    
    .about-section h3 {
    word-spacing: 8px;
    line-height: 40px;}

    .focus-section {
    background-color:var(--pale-color-blue) ;
    margin-top: 100px !important;
    margin-bottom: 150px !important;    
}

.focus-section h3 {
    word-spacing: 8px;
    line-height: 40px;}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
     .logo {width:200px;}
    }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { .logo {width:250px;} 
   }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { .logo {width:250px}
   }