/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #213042; /* Dark blue */
    --secondary-color: #68C0D0; /* Light blue */ 
    --third-color: white; /* Dark blue */    
    --highlight-color:; /*  */
    --highlight-color-light: ; /*  */
}

h1 h2 h3 {color: var(--primary-font);}
h1, h2{font-size: 40px;}


/* Video Hero */
/* full screen */
.video-hero {
  position: relative;
  width: 100%;
  height: 94vh;          
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit:cover ;}

.text-overlay {
    position: absolute;
    bottom: 15%;        
    color: var(--third-color);   
    padding: 0px 20px;
}

.scroll-indicator{
    display: flex;
    position: absolute;
    bottom: 10%;
    color: var(--third-color);
    padding-left: 50%;
    max-width: 80px;
    max-height: 80px;
}

.scroll-indicator-text{
    position: absolute;
    bottom: 5%;
    color: var(--third-color);
    text-align: center;}
  
/* Nav-Modal */
.modal-header {
  border-bottom: none;          
  padding-bottom: 0;
}

.modal-header .btn-close {
  margin-top: 20px;            
}

/* Nav-Modal lists */
.modal-body ul {
  list-style: none;      /* remove bullets */
  padding-left: 0;       /* remove left indent */
  margin: 0;
}

/* Space between menu items */
.modal-body li {
  padding-bottom: 40px;
}

/* Main context */
#card-spacing {
  padding-top:10px;
  padding-bottom: 10px;}

div .card {
    border-style: none;
    border-radius: 0;
}

.card-body{
    padding: 0 5px;
}

/* Load more button */
button {
    border-radius: 20px;
    border-style: 2px solid var(--primary-color);
    max-width: 100px;
    max-width: auto;
}

/* footer list */
ul {
  list-style: none;      /* remove bullets */
  padding-left: 0;       /* remove left indent */
  margin: 0;
}

/* Space between menu items */
li {
  padding-bottom: 10px;
}

/* social media footer hr */
.socialmedia-footer-hr {
    margin-left: -15px;
    width: 100vw;}

/* grid visualisation CSS for testing */
/*  .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} 
*/

/* Media queries */
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .logo {width:"150px"}
    }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
     .logo {width:"200px"}
    }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { .logo {width:"250px"} 
   }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { .logo {width:"250px"}
   }